.color1 {color: #312229}
.color2 {color: #54101d}
.color3 {color: #47596f}
.color4 {color: #b18653}
.color5 {color: #d5c5ae}

* {
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5c5ae;
    flex-direction: column;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2em;
}

.library {
    display: flex;
    background-color: #312229;
    flex-wrap: wrap;
    font-size: 20px;
    width: 80%;
    min-width: 460px;
    flex-direction: column;  
    
}

.add {
    font-size: 18px;
    height: 100px;
    width: 100px;
    font-weight: 800;
    background-color: #b18653;
    color: #54101d;
    border: none;
    margin: 5px;
}

.add:hover {
    background-color: #1a5a17;
    color: #d8a565; 
    font-size: 20px;
}

.first-shelf {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border: 9px #4d3641 solid;
}

.first-shelf img {
    align-self: flex-end;
}

.book-shelf {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    border: 9px #4d3641 solid;
    justify-content: flex-start;
}

.book {
    background-color: #b18653;
    width: calc(calc(100% / 4) - 20px);
    min-width: 200px;
    height: 15rem;
    border:5px #54101d solid;
    margin: 5px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    line-height: 1.8;
    padding: 10px;
}

h2 {
    font-size: 20px;
    font-weight: 800;
}
.read-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: inline-block;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: red;
}

dialog[open] {
    background-color: #d5c5ae;
    border: 10px #b18653 solid;
    border-radius: 20px;
    width: 50%;
    height: 15rem;
    text-align: center;
    padding: 20px 0;
}

.close {
    padding: 7px;
    font-size: 10px;
    border-radius: 40%;
    background-color: #54101d;
    color: #d5c5ae;
    border: none;
}

dialog::backdrop {
    background-color: #f5d018;
    opacity: .3;
}